.header {
  height: 70px;
  background: #000;
  justify-content: space-between;
  display: flex;
  line-height: 20px;
}

.flex-between
 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-logo
 {
  font-size: 20px;
  font-weight: bold; /*太字*/
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
}


.header-nav ul {/*ここで横並び*/
  display: flex;
  height: 90px;
}

.header-nav a
 {
  color: #f2f2f2;
  text-align: none;
}

.header-nav li
 {
  padding: 12px;
  font-size: 14px;
  font-weight: bold; /* 文字の太さを変更 */
  color: #ccc;
  list-style: none;
}

#eyecatch {
  height: 400px;
  background: url(../img/eyecatch.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#eyecatch h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-style: italic;
  font-weight: bold;
  color: #ccc;
  line-height: 1;
}
.news {
  width: 40%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
}
.news-text-wrap {
  width: 100%;
  padding-left: 10px;
  vertical-align: middle;
  margin-left: auto;
}
.news-box {
  line-height: 50px;
  color: #fff;
  background: #000;
  padding: 0 20px;
}

.corporate h2 {
 margin-bottom: 40px;
  margin-left: 280px;
  padding-top: 30px;
  font-size: 30px;
  color: #ccc;
}
.corporate p {
margin-bottom: 30px;
}

.companyarea {
  width: 100%;
  background: #000;
  margin-left: auto;
  margin-right: auto;
}
.companyarea h2 {
z-index:3;
color:gray;
}

.corporate {
  width: 700px;
  position: relative;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}
.button-area {
  width: 40%;
  padding: 10px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  background: #fff;
}
.button {
  line-height: 30px;
  padding: 0 20px;
  color: #000;
  background: #fff;
}
.corporate h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  color: #ccc;
  line-height: 1;
}
.right p {
  background: url(../img/company.jpeg);
  width: 45%;
}
.left p {
  background: url(../img/recruit.jpg);
  width: 45%;
}

.service-item1 {
  z-index:10;
  margin-bottom: 70px;
  align-items: center;
  position:relative;
}

.card1 {
  width: 400px;
  height:160px;
  padding: 20px 12px 10px; /* 上20px 左右12px 下10px */
  color: #333;
  border: 1px solid #e9eaea; /* ボックスの周囲に線を引きます */
  border-radius: 3px;
  transition: 0.3s;
  position: absolute;
  left: 535px;
  top: 200px;
  background:white;
  z-index:30;
}


.service-item2 {
  margin-bottom: 40px;
  z-index:10;
  position:relative;
}

.card2 {
  width: 300px;
  padding: 20px 12px 10px; /* 上20px 左右12px 下10px */
  color: #333;
  border: 1px solid #e9eaea; /* ボックスの周囲に線を引きます */
  border-radius: 3px;
  transition: 0.3s;
  position: relative;
  left: 360px;
  bottom: 330px;
  position:absolute;
  background:white;
  z-index:20;
}
.title,
.text {
  margin: 0;
}

.text {
  padding: 10px 0;
  font-size: 14px;
}

.link {
  display: block; /*aタグはinline要素なのでblock要素にしてwidthを持たせます */
  text-align: center;
  margin: 10px 0;
  font-size: 14px;
  color: #d7b071;
  cursor: pointer; /* カーソルの表示を変更します */
}

.mission {
  text-align:right;
}

.mission img {
  position: absolute;
  width: 400px;
  left: 650px;
  bottom: 110px;
  z-index: 2;
}


.imgm {
  position: relative;
  height: 40%;
  z-index:3;
}
.imgg {
  position: relative;
  width: 40%;
  margin-left: auto;
  bottom: 140px;
  right: 10px;
}

.img2 {
  display: flex;
  width: 40%;
  margin-right: auto;
  margin-bottom: 140px;
  z-index:30;
}


.service {
  color: #666666;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  background:#808080;
}

.company {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.company-wrap1 {
  width: 40%;
  background: url(../img/company.jpeg) no-repeat;
  color: #fff;
  padding: 60px 20px 40px 20px;
  margin-left: 50px;
  margin-bottom: 140px;
}
.company-wrap2 {
  width: 40%;
  background: url(../img/recruit.jpg) no-repeat;
  color: #fff;
  padding: 60px 20px 40px 20px;
  margin-right: 50px;
  margin-bottom: 140px;
}
.sect1,
.sect2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ccc;
}

.faq {
  display:flexbox;
  justify-content:space-between;
  width: 60%;
  height: 30%;
  background: black;
  color: #fff;
  text-align: center;
  padding: 60px 10px 20px 30px;
  margin-bottom: 140px;
  margin-left: 250px;
}

label {
  font-size: 34px;
  font-weight: bold;
  float: left;
  color: #ccc;
}

.contactarea {
  background: url(../img/contact-bg.jpg) no-repeat;
  width: 100%;
  padding-top:250px;
  padding-bottom:250px;
  color: #ccc;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-size: cover;
}

..faqp {
  font-size: 16px;
  padding-bottom: 52px;
}
.faqh3 {
  font-size: 28px;
  padding-bottom: 18px;
}
.faqsm3 {
  font-size: 11px;
  padding-bottom: 30px;
}


footer {
  height: 70px;
  background: #000;
  justify-content: space-between;
  display: flex;
  line-height: 20px;
}

.flex-between2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-logo {
  font-size: 20px;
  font-weight: bold; /*太字*/
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
}

.footer-nav ul {/*横並び*/
  display: flex;
  height: 80px;
}

.footer-nav a {
  color: #f2f2f2;
  text-align: none;
}

.footer-nav li {
  padding: 12px;
  font-size: 14px;
  font-weight: bold; /* 文字の太さを変更 */
  color: #ccc;
  list-style: none;
}

