.header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #000000;
  line-height: 20px;
  margin-bottom: 80px;
}

.header-nav ul {
  display: flex;
  justify-content: space-between;
}
.header-nav li {
  list-style: none;
  color: #fff;
}

.eyecatch {
  margin-bottom: 80px;
}

.service-contents {
  margin-top: 80px;
  margin-bottom: 80px;
}

.cr {
  margin-top: 80px;
  margin-bottom: 80px;
}
.companyimg {
  width: 45%;
  padding: 30 60;
  background: url(../img/company.jpeg) cover no-repeat;
}

.companyimg {
  width: 45%;
  padding: 30 60;
  background: url(../img/recruit.jpg) cover no-repeat;
}

.faq {
  margin-top: 80px;
  margin-bottom: 80px;
  background: url(../img/);
  padding: 50 30;
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #000;
  line-height: 20px;
  margin-top: 80px;
}
.footer-nav ul {
  display: flex;
  justify-content: space-between;
}
.footer-nav li {
  list-style: none;
  color: #fff;
}
small {
  color: #fff;
}
