.header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #000000;
  line-height: 20px;
  margin-bottom: 80px;
}

.flex-between {
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
  
}
.header-logo {
width:450px;	font-size: 16px;
color: #fff;
margin-left: 40px;
font-weight: bold;
}	

.header-nav ul {
  display: flex;
  justify-content: space-between;
}
.header-nav li {
  list-style: none;
  color: #fff;
  margin-right: 40px;
padding: 10px 10px 10px 10px;
}

.header-nav li a{
  text-decoration:none;
  color: inherit;
}

.eyecatch {
  margin-bottom: 80px;
}

.eyecatch h2 {
font-style: italic;
font-size: 34px;
}

.service {
  background: #c0c0c0;
}

.servicep {
  text-align: center;
  font-size: 28px;
  font-weight: 50;
  color: #808080;
}

.mission {
  width: 45%;
  margin-left: 70%;
}

.service-contents {
  margin-top: 80px;
  margin-bottom: 80px;
}

.service-contents1 img {
  width: 45%;
  margin-left: 70%;
  position:relative;
}
.service-contents2 img {
  width: 45%;
  margin-right: 20%;
  position:relative;
}

.card1 {
  width: 350px;
  padding: 20px 15px 20px 15px;
  border: 1px solid #e9eaea;
  background: #fff;
  position:absolute;
  border:solid 10px #F0C060;　
}

.card2 {
  width: 350px;
  padding: 20px 15px 20px 15px;
  border: 1px solid #e9eaea;
  background: #fff;
  position:absolute;
  border:solid 10px #F0C060;　
}

.button {
  padding: 7px 10px;
  border:solid 10px #F0C060;　
  text-align:center;
}


.company {
  display:flex;
  justify-content:space-between;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 90px 40px 90px 40px;
}
.company p {
  color: #fff;
  text-align: center;
  line-height:70px;
}

.companyimg {
  width: 45%;
  padding: 60px 10px;
  background: url(../img/company.jpeg) no-repeat;
}

.recruit {
  width: 45%;
  padding: 60px 10px;
  background: url(../img/recruit.jpg) no-repeat;
}

.faq {
  margin-top: 80px;
  margin-bottom: 80px;
  background: url(../img/);
  padding: 50px 30px;
  background: #000;
}

.contactarea {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-between;
  background: url(../img/contact-bg.jpg) no-repeat;
  text-align:center;
}
.p1 {
  margin-bottom:20px;
  font-size:34px;
}
.p2 {
  margin-bottom:20px;
  font-size:20px;
}
.p3 {
  margin-bottom:20px;
  font-size:10px;
}


.footer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #000;
  line-height: 20px;
  margin-top: 80px;
  text-align: center;
}

.footer-logo {
font-size: 16px;
color: #fff;
margin-left: 30px;
}

.flex-between2 {
  display:flex;
  jutify-content:space-between;
  align-items:center;
  width:100%;
  
}


.footer-nav ul {
  display: flex;
  justify-content: space-between;
}
.footer-nav li {
  list-style: none;
  color: #fff;
}

.footer-nav a{
  text-decoration:none;
  color: inherit;
}

small {
  color: #fff;
}
