.header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #000000;
  line-height: 20px;
  margin-bottom: 80px;
  width: 100%;
}

.flex-between1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.header-logo {
  font-size: 16px;
  color: #fff;
  margin-left: 40px;
  font-weight: bold;
}

.header-nav ul {
  display: flex;
  margin-right: 40px;
  height: 80px;
}
.header-nav li {
  list-style: none;
  color: #fff;
  margin-right: 40px;
  padding: 10px 10px 10px 10px;
}

.header-nav a {
  text-decoration: none;
  color: inherit;
}

.eyecatch {
  margin-bottom: 80px;
}

.eyecatch h2 {
  font-style: italic;
  font-size: 34px;
}

.service {
  background: #c0c0c0;
}

.servicep {
  text-align: center;
  font-size: 28px;
  font-weight: 50px;
  color: #808080;
}

.mission {
  width: 45%;
  margin-left: 70%;
}

.service-contents {
  margin-top: 80px;
  margin-bottom: 80px;
}

.service-contents1 img {
  width: 45%;
  margin-left: 70%;
  position: relative;
}
.service-contents2 img {
  width: 45%;
  margin-right: 20%;
  position: relative;
}

.card1 {
  width: 350px;
  padding: 20px 15px 20px 15px;
  border: 1px solid #171788;
  background: #fff;
  position: absolute;
  left: 15%;
  bottom: 4%;
}

.card2 {
  width: 350px;
  padding: 20px 15px 20px 15px;
  border: 1px solid #171788;
  background: #fff;
  position: absolute;
  top: 2%;
  right: 45%;
}

.button {
  padding: 7px 10px;
}

.cr {
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 50px 40px;
}

.cr p {
  color: #fff;
  text-align: center;
}
.companyimg {
  width: 45%;
  padding: 60px 10px;
  background: url(../img/company.jpeg) no-repeat;
}

.recruit {
  width: 45%;
  padding: 60px 10px;
  background: url(../img/recruit.jpg) no-repeat;
}

.faq {
  margin-top: 80px;
  margin-bottom: 80px;
  background: url(../img/);
  padding: 50px 30px;
  background: #000;
}

.contactarea {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-between;
  background: url(../img/contact-bg.jpg) no-repeat;
}

.footer {
  height: 80px;
  background: #000;
  line-height: 20px;
  margin-top: 80px;
  text-align: center;
}

.flex-between2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items:center;
}

.footer-logo {
  font-size: 16px;
  color: #fff;
  margin-left: 30px;
}

.footer-nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-nav li {
  list-style: none;
  color: #fff;
}

.footer-nav a {
  text-decoration: none;
  color: inherit;
}

small {
  color: #fff;
  text-align: center;
}
